/*iPhone6 portrait*/
@media screen and (max-width: 400px) {
   .col_wk1 {
       display: table-cell;
   }
   .col_wk2,
   .col_wk3,
   .col_wk4 {
       display: none;
   }
}


/*iPhone6 landscape*/
@media screen and (min-width: 401px) {
   .col_wk1,
   .col_wk2 {
       display: table-cell;
   }
   .col_wk3,
   .col_wk4 {
       display: none;
   }
}

/*iPad portrait*/
@media screen and (min-width: 851px) {
   .col_wk1,
   .col_wk2,
   .col_wk3,
   .col_wk4 {
       display: table-cell;
   }
}



.head_week {
    text-align: center;
}

.col_allo {
	color: #2e8b57;
}

.col_bkg {
	color: #f08080;
}

.col_bp {
	color: #9400d3;
}



